.tabsData{
    width: 100%;
    min-height: 3rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--color1c);
    border-radius: var(--border);
    text-wrap-style: balance;
    overflow: hidden;
    transition: .3s ease-out;
}


.tittle{
    font-weight: 600;
    color: var(--color5);
}


.data{    
    color: white;
}


.tabsData:hover{
    background-color: var(--color1);
}