/* NavSide.module.css */
.navSide {
  width: 20rem;
  min-height: 90vdh;
  border-radius: var(--border);
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
  box-shadow: 2px 0 10px #0000001a;
  overflow-y: auto;
  position: sticky;
  top: 1rem;
  left: 0;
  }
  
  .list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }


  .foot{
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
