.tabsCategory{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5;
    position: relative;
    padding: .5rem;
    border:none;
    border:2px solid transparent;
    border-radius: var(--border);
    background-color: var(--color1c);
    color:var(--white);
    font-size: x-small;
    font-weight: 600;
    text-transform: uppercase;
    transition: .3s ease-out;
}



.tabsCategory:hover{
    background-color: var(--color1);
}



.icon{
    fill: transparent;
    position: absolute;
    left: -10px;
    opacity: 0;  
    transition: .3s ease-out;  
}


.iconActive{
    fill: var(--white);    
    opacity: 1;  
    translate: -6px;
    transition: .3s ease-out;  
}


.tabsCategoryActive{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5;
    padding: .5rem;
    border:none;
    border-radius: var(--border);
    background-color: var(--color1b);
    border: 2px solid var(--color1);
    color:var(--white);
    font-size: x-small;
    font-weight: 600;
    text-transform: uppercase;
    transition: .3s ease-out; 
}


.tabsCategory:active{
    transform: scale(.85);
}