.horizontalCard{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    position: relative;
    background-color: var(--blackDiff);
    border-radius: var(--border);
    overflow: hidden;
}


.imgBox{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    filter: blur(5px);
}


.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.cardBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.cardBody h5{
    color: var(--white);
    font-size: xxx-large;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


.cardBody p{
    color: var(--white);
}



.buttonAccess{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
}