.sliderContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slidePlace{
    overflow: hidden;
    width: 100%;
    border-radius: .5rem;
    background-color: transparent;
    display: flex;
}

.slidePasarela{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    cursor: -webkit-grab;
    cursor: grab;
}

.slideItem{
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
    padding: 0rem .3rem;
}