.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tittle{
    color: var(--color1);
    font-size: xxx-large;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


.parraph{
    text-align: center;
}


.headerLeft{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem 0rem;
}