.searchPanel{
    width: 100%;
    border-radius: var(--border);
    padding: 1rem;
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
}


.tittle{
    font-weight: 500;
    font-size: small;
}

