.tittle, .description, .audiovisual{
    width: 100%;
    min-height: 3rem;
    padding: .5rem;
    border: thin solid var(--color1);
    border-radius: var(--border);
    transition: border-color .3s ease-out;
}


.tittle:hover, .description:hover, .audiovisual:hover{
    border-color: var(--color1Transparent);
}


input::placeholder{
    opacity: .7;
}


.tittle:focus, .description:focus, .audiovisual:focus{
    outline: none;
}

.menuBar{
    width: 100%;
    min-height: 3rem;
    padding: .5rem 1rem;
    border: none;
    border: thin solid var(--blackTransparent);
    border-radius: var(--border);
    background-color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}


.menuBar button{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    padding: .2rem;
    background-color: #0000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-out;   
}

.menuBar button svg{
    stroke: var(--grey2);
    stroke-width: 1px;
    fill: var(--grey2);
    opacity: .7;
    transition: .3s ease-out;
}


.menuBar button:hover svg{
    opacity: 1;
}


.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.separator{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.isActive{    
    background-color: var(--color1) !important;    
}


.isActive svg{
    stroke: var(--white) !important; 
    stroke-width: 1px !important; 
    fill: var(--white)!important; 
    opacity: 1 !important; 
    transition: .3s ease-out !important; 
}


.optionsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.files{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.files p{
    font-size: x-small;
    text-transform: uppercase;
    font-weight: 600;
}

.btnFiles{
    display: none;
}

.labelFile{
    width: fit-content;
    padding: .2rem;
    border: none;
    border-radius: var(--border);
    background-color: var(--blackTransparent);
    font-size: x-small;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white);
    transition: .3s ease-out;
}

.labelFile:hover{
    background-color: var(--color5);
    cursor: pointer;
}

.categorys , .subjetc{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.categorys label,.subjetc label{
    font-size: x-small;
    text-transform: uppercase;
    font-weight: 600;  
}

.categorys select ,.subjetc select{
    width: 15rem;
    border-color: var(--color1);
    border-radius: var(--border);
    outline: none;
}


.categorys select option, .subjetc select option{
    font-size: smaller;
    font-weight: 600;
}


.btnSend{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}