.tabControl{
    min-width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    border: none;
    border-radius: var(--border);
    background-color: var(--blackTransparent);
    color: var(--white);
    font-weight: 600;
    font-size: x-small;
    text-transform: uppercase;
    transition: background-color .3s ease-out;
}


.tabControl:hover{
    background-color: var(--color5);
}