.dashboard{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;  
}


.content{
    width: 100%;
    flex: 1;
    overflow-y: auto;
}